.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  position: relative;
}

.container {
  color: inherit;
}

.iconContainer {
  color: initial;
  font-size: 50px;
  position: absolute;
}

.noIconContainer {
  height: 28px;
  padding-left: 6px;
  padding-right: 8px;
  border-radius: 3px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;

  &:hover {
    background-color: rgba(55, 53, 47, 0.08);
  }
}

.emojiPickerContainer {
  z-index: 3;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
}

.emojiOptionsMenuWrapper {
  width: 80px;
  position: absolute;
  z-index: 2;
  display: none;
}

.iconContainer:hover .emojiOptionsMenuWrapper {
  display: block;
}

.emojiOptionContainer {
  font-size: 1.5rem;
  border-radius: 3px;
  padding-left: 4px;
  &:hover {
    background-color: rgba(55, 53, 47, 0.08);
  }
}