.wrapper {
  width: 265px;
  min-width: 220px;
  height: inherit;
  font-size: 1.4rem;

  background-color: var(--background-color);
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.usernameWrapper {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: var(--hover-color);
  }
}

.usernameContent {
  width: inherit;
  padding: 2px 14px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & .usernameIcon {
    margin-right: 8px;
  }

  & .usernameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .username {
    text-transform: capitalize;
  }
}

.navList {
  width: 100%;
  padding: 0 4px 8px 4px;
}

.navItem {
  width: 100%;
  padding: 2px 10px;
  margin: 1px 0px;
  border-radius: 3px;
  color: var(--text-color);
  font-weight: 600;

  display: flex;
  gap: 8px;
  &:hover {
    cursor: pointer;
    background-color: var(--hover-color);
  }
}

.pagesWrapper {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 20px;
}

.pageOptions {
  margin-top: 18px;
}
