.wrapper {
  height: 28px;
  border-radius: 3px;
  box-sizing: content-box;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;

  &:hover {
    background-color: rgba(55, 53, 47, 0.08);
  }
}

.container {
  color: inherit;
  height: 100%;

  & label {
    height: 100%;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & input[type='file'] {
    display: none;
  }
}
