.wrapper {
  width: 100%;  
}

.iconWrapper {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &:hover {
    background-color: rgb(217, 217, 214);
  }
}

.toggleIcon {
  color: var(--icon-color);
  transition: linear 0.2s;
}

.toggleDown {
  transform: rotate(90deg);
}

.pageContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.pageInfo {
  display: flex;
  gap: 5px;
}

.actionsPageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.actionPageItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  visibility: hidden;
  border-radius: 3px;
}

.actionPageItem:hover {
  background-color: rgb(217, 217, 214);
}

.wrapper:hover .actionPageItem {
  visibility: visible;
}