.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerFormWrapper {
  width: 45%;
  border-radius: 10px;
  background-color: #f6f6f6;

  display: flex;
  justify-content: center;
}

.registerFormContainer {
  width: 60%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  margin-bottom: 10px;
  font-size: 40px;
  width: 100%;
  text-align: center;
}

.registerFormContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerFormContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  & label {
    font-size: 1.2rem;
  }

  & input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--dropdown-shadow-color);

    &:focus-visible {
      outline: none;
    }
  }

  .fieldWrapper {
    width: 95%;
  }

  & input[type='submit'] {
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-top: 10px;
    background-color: #e3e3e3;
  }
}

.loginWrapper {
  font-size: 1.1rem;
  margin-top: 6px;

  & a {
    font-weight: 700;
    font-size: 1.3rem;
    color: rgb(129 129 129);
  }
}
