.wrapper {
  height: inherit;
  overflow-y: scroll;
  font-family: var(--default-font);
  position: relative;
}

.topbarSectionWrapper {
  height: var(--header-height);
  width: 100%;
  /* position: sticky; */
  position: absolute;
  top: 0;
  z-index: 2;
}

.mainSectionWrapper {
  display: grid;
  grid-template-columns: [full-start] 96px [content-start] 1fr [content-end] 96px [full-end];
}

.headerSectionWrapper { 
  grid-column: full;
  margin-top: 80px;
  margin-bottom: 4px;
}

.editorSectionWrapper {
  grid-column: content;
}