.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFormContainer {
  width: 60%;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  margin-bottom: 25px;
  font-size: 40px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.loginFormContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginFormContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  & > * {
    width: 95%;
  }

  & label {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--text-color);
  }

  & input {
    width: 100%;
    display: block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--dropdown-shadow-color);

    &:focus-visible {
      outline: none;
    }
  }

  & input[type='submit'] {
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-top: 10px;
    background-color: #e3e3e3;
  }
}

.passwordInputContainer {
  position: relative;
}

.registerWrapper {
  font-size: 1.1rem;
  margin-top: 6px;

  & a {
    font-weight: 700;
    font-size: 1.3rem;
    color: rgb(129 129 129);
  }
}

.invalidFields {
  color: red;
  font-size: 1.1rem;
  visibility: hidden;
}

.isInvalidLogin {
  visibility: visible;
}