.wrapper {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
}

.layoutContent {
  grid-column: content;
}

.layout {
  --content-width: minmax(auto, 708px);
  --margin-width: minmax(96px, 1fr);
  display: grid;
  grid-template-columns: [full-start] var(--margin-width) [content-start] var(--content-width) [content-end] var(--margin-width) [full-end];
  width: 100%;
}

.layoutWide {
  --content-width: 1fr;
  --margin-width: var(--margin-editor-width);
}
