.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  font-size: 2.5rem;
}

@media only screen and (max-width: 991px) {
  .contentWrapper {
    flex-direction: column;
  }
  .contentContainer {
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
  }
}