.wrapper {
  width: 100%;
  padding: 0 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeImageWrapper {
  width: inherit;
}

.introWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentContainer {
  font-size: 2.5rem;
  font-weight: 500;
}

.actionsWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.authenBtnWrapper {
  min-width: 110px;

  font-size: 21px;
  font-weight: 600;
  background: #121212;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;

  display: flex;
    justify-content: center;
    align-items: center;

  &:hover {
    background-color: #333;
  }
}

.authenBtn {
  color: white;
}
