@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;0,500;0,600;1,200;1,400;1,500;1,600&family=Patrick+Hand&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Patrick Hand', cursive;
font-family: 'Raleway', sans-serif; */

:root {
  --general-font: 'Raleway', monospace;
  --background-color: rgb(251, 251, 250);
  --hover-color: rgb(234, 234, 232);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--general-font);
}

#root {
  height: 100vh;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
}
