.wrapper {
  display: flex;
  height: 100%;
  position: relative;
}

.navWrapper {
  height: inherit;
  background-color: var(--background-color);
}

.backgroundSidebar {
  background-image: url(https://i.ibb.co/48CjGNb/background-Transparent.png);
}

.editorSectionWrapper {
  height: inherit;
  flex: 1;
}

.toastContainer {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}