.wrapper {
  display: flex;
  height: 100%;
  position: relative;
}

.navWrapper {
  height: inherit;
  background-color: var(--background-color);
}

.editorSectionWrapper {
  height: inherit;
  flex: 1;
}

.toastContainer {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.collapseWrapper {
  position: absolute;
  z-index: 3;
  animation-name: slideOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.noCollapseWrapper {
  z-index: 3;
  animation-name: slideIn;
  animation-duration: 1s;
}

@keyframes slideIn {
  0% {
    position: absolute;
    left: -100%;
  }
  99% {
    position: absolute;
    left: 0;
  }
  100% {
    position: unset;
  }
}

@media only screen and (max-width: 768px) {
  .noCollapseWrapper {
    position: absolute;
    left: 0;
    z-index: 3;
  }
}